# Ignore cloned vendor/task description/controller directories
/src/simple_chassis_controller/
/src/rm_description_for_task/
/src/rm_controllers/
/src/rm_control/
/src/ros_controllers/
/src/sentry_sim/
/devel/
/.vscode/
/build/

# Local IDE files
.idea/