# Ignore cloned vendor/task description/controller directories
/src/simple_chassis_controller/
/src/rm_description_for_task/
/src/rm_controllers/
/src/rm_control/
/src/ros_controllers/
/src/sentry_sim/
/src/sentry_chassis_controller/bags/
/home/idris/final_ws/reference
/home/idris/final_ws/src/sentry_chassis_controller/log/
/home/idris/final_ws/src/sentry_chassis_controller/log/*.log
/home/idris/final_ws/reference/ZiDXie/hero_chassis_controller/
/home/idris/final_ws/reference/CQin-Cat/hero_chassis_controller/
/home/idris/final_ws/src/sentry_chassis_controller/*/*.bag
# Local IDE files
.idea/
/devel/
/.vscode/
/build/